<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>GSM</title>
    <meta name="description"
          content="Ogni click, ogni post, ogni condivisione: GSM è qui, per te.">
    <meta name="keywords"
          content="social, publhiser, manager">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Garamante Social Manager">
    <meta property="og:description"
          content="Ogni click, ogni post, ogni condivisione: GSM è qui, per te.">
    <meta property="og:url" content="https://garamante.it/gsm/">
    <meta property="og:site_name" content="Garamante Social Manager">
    <meta property="og:locale" content="it_IT">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Garamante Social Manager">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="https://garamante.it/gsm/">
    <meta property="twitter:creator" content="@OnnwenC">
    <meta property="twitter:title" content="Garamante Social Manager">
    <meta property="twitter:description"
          content="Ogni click, ogni post, ogni condivisione: GSM è qui, per te.">
    <meta property="twitter:url" content="https://garamante.it/gsm/">
    <meta property="twitter:domain" content="garamante.it">
    <meta property="twitter:site_name" content="Garamante Social Manager">
    <meta property="twitter:image" content="https://garamante.it/gsm/images/og-image.png">
    <meta property="twitter:image:alt" content="Garamante Social Manager">
    <link rel="icon" href="/gsm/images/favicon.png">
    <link rel="stylesheet" href="/gsm/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/gsm/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/gsm/stylesheets/style.css">
    <script src="/gsm/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/gsm/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/b6tvaqybdhv3p3bmz9q0lxcbtr63at7tas8lqykwkxp6m9ci/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        input {
            --bs-border-width: 2px;
            --bs-border-color: #eee;
            --bs-border-radius: 10px;
        }

    </style>
</head>

<body class="bg-light px-2">
<div class="toast-container mx-2 my-3 position-absolute bottom-0 end-0" id="toasts">
</div>
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="settingsModalLabel">Impostazioni &nbsp;<i class="bi bi-gear-fill"></i>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <b>Twitter <i class="bi bi-twitter ms-1" style="color: #00acee;"></i></b>
                <br>
                <%- twitterAuth %>
                <hr>

                <b>Telegram <i class="bi bi-telegram ms-1" style="color: #0088cc;"></i></b>
                <br>
                <%- telegramAuth %>
                <hr>

                <b>Facebook <i class="bi bi-facebook ms-1" style="color: #1877f2;"></i></b>
                <br>
                <%- facebookAuth %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-column" style="height: calc(max(100vh,800px) - 75px);">
    <header>
        <h1 class="mb-2 text-center mt-5">Garamante Social Manager</h1>
        <h5 class="text-center text-muted mt-3">Ogni click, ogni post, ogni condivisione: GSM è qui, per te.</h5>
    </header>
    <div class="container bg-white rounded-4 my-5 p-4 shadow" id="container">
        <div class="mb-0 d-flex justify-content-end">
            <button type="button" class="btn text-secondary" data-bs-toggle="modal" data-bs-target="#settingsModal">
                <i class="bi bi-gear-fill"></i></button>
        </div>
        <div class="mb-4">
            <label for="text" class="form-label">Testo</label>
            <textarea class="form-control" id="text"></textarea>
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">Media</label>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="medias" accept="video/*,image/*" multiple>
                <button class="btn btn-danger" id="deleteFiles">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col d-flex justify-content-center">
                <div class="form-check form-switch mt-1">
                    <input class="form-check-input" type="checkbox" role="switch" id="twitter" <%- twitterToggle %>>
                    <label class="form-check-label" for="twitter">Twitter</label>
                    <i class="bi bi-twitter" style="color: #00acee;"></i>
                </div>
            </div>

            <div class="col d-flex justify-content-center">
                <div class="form-check form-switch mt-1">
                    <input class="form-check-input" type="checkbox" role="switch" id="telegram" <%- telegramToggle %>>
                    <label class="form-check-label" for="telegram">Telegram</label>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#telegramToggle"
                            class="info-button"><i class="bi bi-telegram" style="color: #0088cc;"></i></button>
                </div>
            </div>

            <div class="col d-flex justify-content-center">
                <div class="form-check form-switch mt-1">
                    <input class="form-check-input" type="checkbox" role="switch" id="facebook" <%- facebookToggle %>>
                    <label class="form-check-label" for="facebook">Facebook</label>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#facebookToggle"
                            class="info-button"><i class="bi bi-facebook" style="color: #1877f2;"></i></button>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary mt-5 w-100" id="publish">Pubblica</button>
    </div>
</div>
<footer class="text-center text-secondary w-100" style="height: 75px"><a href="https://garamante.it" class="btn mt-2 text-muted">www.garamante.it</a></footer>
</body>
<script>
    const publishButton = $('#publish');

    tinymce.init({
        selector: "#text",
        plugins: "emoticons autoresize",
        toolbar: "emoticons",
        toolbar_location: "bottom",
        menubar: false,
        statusbar: false,
        language: "it",
    });

    publishButton.click(function () {
        let text = tinymce.get("text").getContent({format : 'text'});
        let platforms = [];

        if (text === '') {
            showToast('Inserisci un testo da pubblicare.', 'danger');
            return;
        }

        if ($('#twitter').is(':checked')) {
            platforms.push('twitter');
        }
        if ($('#telegram').is(':checked')) {
            platforms.push('telegram');
        }
        if ($('#facebook').is(':checked')) {
            platforms.push('facebook');
        }

        if (platforms.length === 0) {
            showToast('Seleziona almeno una piattaforma in cui pubblicare.', 'danger')
            return;
        }

        const files = ($('#medias').val());

        publishButton.attr('disabled', true);

        if (files.length > 0) {
            publishButton.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Carico contenuti multimediali...');

            let form = new FormData();
            $('#medias').each(function (i, fileInput) {
                $.each(fileInput.files, function (i, file) {
                    form.append('files', file);
                });
            });

            const settings = {
                url: "/gsm/publish/upload",
                method: "POST",
                timeout: 0,
                processData: false,
                mimeType: "multipart/form-data",
                contentType: false,
                data: form
            };

            $.ajax(settings).done(function (response) {
                jsonResponse = JSON.parse(response);
                console.log(jsonResponse.mediasNames)
                publishTexts(platforms, text, jsonResponse.mediasNames);
            }).fail(function () {
                showToast('È stato riscontrato un errore durante il caricamento dei contenuti multimediali.', 'danger');
                publishButton.attr('disabled', false);
                publishButton.html('Pubblica');
            });
        }
        else {
            publishTexts(platforms, text, []);
        }
    });

    $('#deleteFiles').click(function () {
        $('#medias').val('');
    });

    function showToast(text, type) {
        const randomId = Math.floor(Math.random() * 1000000);
        $('#toasts').append(`<div class="toast align-items-center text-white bg-${type} border-0" role="alert" aria-live="assertive" aria-atomic="true" id="${randomId}">
                                <div class="d-flex">
                                    <div class="toast-body">
                                        ${text}
                                    </div>
                                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                            </div>`);
        $(`#${randomId}`).toast('show');
    }

    function publishTexts(platforms, text, mediasNames) {
        publishButton.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Pubblico sui social...');
        platforms.forEach(function (platform) {
            let completedPlatformsCount = 0;

            switch (platform) {
                case 'twitter':
                    $.post('/gsm/publish/twitter', {
                        text: text,
                        mediasNames: mediasNames
                    }, function (publicationStatus) {
                        showToast(publicationStatus.message, publicationStatus.status);
                    }).fail(function (error) {
                        showToast(error.responseJSON.message, 'danger');
                    }).always(function () {
                        completed();
                    });
                    break;
                case 'telegram':
                    $.post('/gsm/publish/telegram', {
                        text: text,
                        mediasNames: mediasNames
                    }, function (publicationStatus) {
                        showToast(publicationStatus.message, publicationStatus.status);
                    }).fail(function (error) {
                        showToast(error.responseJSON.message, 'danger');
                    }).always(function () {
                        completed();
                    });
                    break;
                case 'facebook':
                    $.post('/gsm/publish/facebook', {
                        text: text
                    }, function (publicationStatus) {
                        showToast(publicationStatus.message, publicationStatus.status);
                    }).fail(function (error) {
                        showToast(error.responseJSON.message, 'danger');
                    }).always(function () {
                        completed();
                    });
                    break;
            }

            function completed() {
                completedPlatformsCount++;
                if (completedPlatformsCount === platforms.length) {
                    publishButton.attr('disabled', false);
                    publishButton.html('Pubblica');
                }
            }
        });
    }

    $(document).ready(function () {
        <%- scripts %>
    });
</script>
</html>